body{
    justify-content: center;
    background-color: rgb(132, 180, 235);
    background-image: url("https://media.istockphoto.com/id/1007768414/photo/blue-sky-with-bright-sun-and-clouds.jpg?s=612x612&w=0&k=20&c=MGd2-v42lNF7Ie6TtsYoKnohdCfOPFSPQt5XOz4uOy4=");
}

h1{
    align-items: center;
    margin: 20px;
    margin-left: 600px;
    margin-top: 180px;
    
}

h2{
    justify-content: center;
    color: black;
    align-items: centers;
}




div{
    color: rgb(15, 14, 14);
    margin: 20px;
    margin-left: 630px;

}

section{
    color: rgb(12, 12, 12);
    margin-left: 610px;
}

footer{
    color: rgb(12, 12, 12);
    margin-left: 606px;
}



